{% extends "car/base.html" %}
{% block content %}
{% load static %}

<script>document.title = "{{ ptitle }}";</script>
    <div class="container">
      <h1 class="title">Your Assets</h1>

      <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th>Asset</th>
            <th>Description
              <div style="float: right;"><a href="{% url 'asset_edit' 0 %}"><span title="Add new Asset" class="button is-primary">Add Asset +</span></a></div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
        {% for ass in asset_list %}
            <td style="padding-left: {{ ass.indent }}px;">
                <a href="{% url 'asset_edit' ass.pk %}">{{ ass.name }}</a>
            </td>
            <td>{{ ass.description }}</td>
          </tr><tr>
        {% empty %}
            <td colspan="2">No assets are assigned to you.</td>
        {% endfor %}
          </tr>
        </tbody>
      </table>
    </div>
{% endblock %}