{% extends "car/base.html" %}
{% block content %}
{% load static %}

<script>document.title = "CAR: {{ ptitle }}";</script>

<section class="section">

    <div class="level">
        <div class="level-left">
            <div>
                <h1 class="title">
                    {{ ptitle }}
                </h1>

            </div>
        </div>

        <div class="level-right">
			<a href="{% url 'car:assessment_edit' 0 %}"><span title="Add new Assessment" class="button is-primary is-light">Add Assessment +</span></a>
            <a href="{% url 'car:assessment_list' %}" class="button is-light">Back</a>
        </div>
    </div>
	<div id="assessment-tabs">
		{% include "car/parts/assess_tab_main.html" %}
    </div>



</section>

{% endblock %}
