{% extends "car/base.html" %}
{% block content %}
{% load static %}

<script>document.title = "{{ ptitle }}";</script>
    <div class="container">
      <h1 class="title">Your Controls</h1>

      <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th>Control</th>
            <th>Description
              <div style="display: inline-block; float: right;"><a href="{% url 'car:control_edit' 0 %}">
			    <span title="Add new Control" class="button is-warning is-light">Add Control +</span></a></div>
            </th>
			<th>Action</th>
          </tr>
        </thead>
        <tbody>
        {% for contrl in control_list %}
          <tr>
            <td>
               <a href="{% url 'car:control_edit' contrl.pk %}">{{ contrl.control_label }}</a>
            </td>
            <td>{{ contrl.description }}</td>
			<td>
				    <a href="{% url 'car:control_edit' contrl.pk %}"><span class="button is-small is-primary is-light">Edit</span></a> | 
					<button 
                        class="button is-danger is-small is-light"
                        hx-get="{% url 'car:control_delete' contrl.id %}"
                        hx-target="#modal-container"
                        hx-trigger="click"
                        hx-swap="innerHTML"
                      >Delete</button>
			</td>
          </tr>
        {% empty %}
            <tr><td>No controls are assigned to you.</td></tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}