{% extends "car/base.html" %}

{% block content %}

<div class="container">

    <div class="level">

        <div class="level-left">

            <div>

                <p class="subtitle">
                    {{ control.control_label }}
                </p>

                <p class="subtitle">
                    {{ control.title }}
                </p>

            </div>

        </div>


        <div class="level-right control">
            <a href="{% url 'car:control_edit' control.pk %}" class="button is-light">Edit</a>
        </div>

		<div class="level-right control">
			<a href="{% url 'car:control_list' %}" class="button is-light">Back to Controls</a>
		</div>

    </div>

	<div id="control-tab-content">
		{% include "car/parts/control_tab_overview.html" %}
    </div>

</div>

{% endblock %}