<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CAT and RAT - index</title>
  <!-- Bulma CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
</head>
<body>
  <section class="section">
    <div class="container">
	  <div class="columns is-vcentered">

        <!-- LEFT SIDE -->
		<div class="column">
			<h1 class="title is-3">Control Assessment Tool (CAT)</h1>
			<h1 class="title is-3">Risk Assessment Tool (RAT)</h1>
		</div>

		<!-- RIGHT SIDE -->
		<div class="column is-narrow">
			<figure class="image is-128x128" style="display: inline-block;">
				<img src="{% static 'logo.jpeg' %}" alt="Logo">
			</figure>
		</div>

	  </div>

    </div>
  </section>
</body>
</html>
